body{
  margin:0px auto;
}

#section-1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 14px;
}

a{
  
color:black;
text-decoration: none;
font-size:20px;
display:inline-block;
line-height: 24px;
margin-right:20px;
margin-top: 20px;
}

a:hover{

  text-decoration: underline;
}

.grid{
  width: 30px;
  padding: 5px;
  margin: auto 7px;
  cursor: pointer;
  margin-top: 30px;
}

.grid:hover{
  opacity: 0.7;
}

button{
  background-color: #1a73e8;
  border:1px solid transparent;
  color:#fff;
  margin-right:8px ;
  width: 150px;
  height: 38px;
  border-radius:4px;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  min-width: 96px;
  padding: 5px 20px;
box-sizing: border-box;

}

button:hover{
  background-color: #4285f4;
  border:2px solid #4285f4;
}
#section-2{
  margin-top:1%;
 
}
#logo{
object-fit: contain;
text-align: center ;
height: 90px;
 
}


.search{
  margin-top: -8px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 580px;
  

}
.search-input{
  display:block;
  border:1px solid #ddd;
  color:rgba(0,0,0,.87);
  background-color: transparent;
  padding: 13px;
  padding-left: 45px;
 word-wrap: break-word;
  outline: none;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
  margin-top: 220px;
}
.search-input:hover{
  box-shadow: 1px 1px 5px grey;
}

.search-icon{
  width: 20px;
  opacity: 0.4;
  position: absolute;
  top:13px;
 left:14px;
}

.search-v{
  width: 45px;
  position: absolute;
  top:13px;
  right:-40px;
 
}
.search-v:hover{
  opacity: 0.6;
}

.search-ky{
  width: 30px;
  position: absolute;
  top:17px;
  right:-1px;

}

.search-ky:hover{
  opacity: 0.6;

}

.button{
  border: 1px solid transparent;
  padding: 9px 15px;
  color:#5f6368,;
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top:28px;
  cursor:pointer;
}

.button:hover{
  border:1px solid #aaa;
}

footer{
  background-color: #f2f2f2;
  position: fixed;
  bottom:0px;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 5px;
  
  



}

h4{
  color: #70757a;
  font-size:15px;
  line-height:10px;
  font-weight: 200;
  padding-left: 13px;
 margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

a{
  color:#70757a;
  display: inline-block;
  padding: 12px 11px;
  font-size:14px;
  text-decoration: none;
  margin-top: 10px;
 
}

  
a:hover{
  text-decoration: underline;
}

.end-part{
  border-top:1px solid #dadce0;
  display:flex;
 
 }

.end-part-1{
  padding-left: 18px;
  flex: 1;
  justify-content: left;

  }

.karbon{
  display: inline-block;
  padding-left:300px;
    white-space: nowrap;
    cursor: pointer;
    
    }





.end-part-2{
  padding-right: 18px;
}








